alacritty/colorschemes
BetterDiscord/data
BetterDiscord/plugins
discord
BraveSoftware
bspwm
Code - OSS
code-oss
Electron
fish
flameshot
font-manager
fontconfig
goa-1.0
gpick
gtk-2.0
polybar
Thunar
spicetify
spotify
RStudio
rstudio
rofi
rofi.old
pyroom
pulse
pcmanfm
nautilius
nitrogen
obs-studio
obmenu-generator
user-dirs.dirs
user-dirs.locale
mimeapps.list
nautilus
light
leafpad
libfm 
pamac
yay
zsh
xfce4
xarchiver
sxhkd
qt5ct
geany/colorschemes
plank
zentile
picom.conf
QtProject.conf
dconf
pacmac
htop
Kvantum
networkmanager-dmenu
ranger
GitHub Desktop